body{
  overflow: hidden;
}
.bottom{
  position: absolute;
  width: 200vw;
  height: 60%;
  bottom: -40%;
  left: -10%;
  background-color: rgba(0, 204, 255, 0.568);
  animation: grow1 5s ease-in-out infinite;
  transform: rotate(10deg);
}
@keyframes grow1 {
  0%, 100%{height: 120%}
  50%{height: 60%}
}
.middle{
  position: absolute;
  top: -30%;
  left: -10%;
  width: 200vw;
  height: 40%;
  background-color: rgba(0, 202, 78, 0.582);
  animation: grow2 5s ease-in-out infinite;
  transform: rotate(-10deg);
}
@keyframes grow2 {
  0%, 100%{height: 110%}
  50%{height: 65%}
}
.top{
  position: absolute;
  width: 200vw;
  height: 60%;
  left: -9%;
  bottom: 0;
  background-color: rgba(0, 255, 213, 0.616);
  animation: grow3 5s ease-in-out infinite;
  transform: rotate(-20deg);
}
@keyframes grow3 {
  0%, 100%{height: 100%}
  50%{height: 85%}
}

.address{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  height: 83%;
  width: 360px;
  overflow: auto;
  box-shadow: 0px 0px 5px 5px rgba(71, 71, 71, 0.185);
}


input[type="text"] {
  height: 25px;
  width: 270px;
  padding: 10px;
  margin: 20px 0px;
  outline: 0;
  font-size: 15px; 
  border: 2px solid gray;
  font-family: avenir;
  font-weight: 700;
  border-radius: 10px;
}
input[type="text"]:hover {
  box-shadow: 0px 0px 2px 2px rgb(194, 194, 194);
}

input[type="submit"] {
  position: relative;
  margin-left: -52px;
  width: 50px;
  height: 45px;
  border: 0;
  top: 1px;
  outline: 0;
  cursor: pointer;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 18px;
  background-color: rgb(24, 190, 255);
  color: white;
}
input[type="submit"]:hover {
  background-color: rgb(95, 210, 255);
}

h1{
  font-family: avenir;
  text-transform: uppercase;
}
.task{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 330px;
  height: 40px;
  padding: 10px;
  background-color: rgb(230, 230, 230);
  font-family: avenir;
  margin: 1px;
}
p{
  display: flex;
  justify-content: flex-start;
  padding: 0px 10px;
  align-items: center;
  height: 40px;
  width: 180px;
  font-weight: 500;
}
.left{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.close{
  height: 25px;
  width: 25px;
  outline: 0;
  background-color: rgb(230, 230, 230);
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  font-family: "Punkboy";
  font-size: 15px;
  border-radius: 0px;
  color: red;
  font-weight: 800;
  cursor: pointer;
}
input[type="checkbox"] {
  position: relative;
  margin: 10px;
  width: 15px;
  height: 15px;
  color: black;
  border: 1px solid gray;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: all 0.3s;
}
input[type="checkbox"]:checked {
  color: white;
  margin: 13px;
  top: -2px;
  height: 18px;
  width: 10px;
  border-top-left-radius: 0px;
  border-right: none;
  border-bottom: none;
  border-left: 3px solid rgb(0, 201, 0);
  border-top: 3px solid rgb(0, 201, 0);
  transform: rotate(225deg);
}
label{
  font-family: avenir;
  font-size: 17px;
  text-transform: uppercase;
  transition: all 0.3s;
}
input[type="checkbox"]:checked ~ label {
  color: rgb(136, 136, 136);
  text-decoration: line-through;
  text-decoration-color: black;
}

@media only screen and (max-width: 450px) {
  .address{
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    height: 83%;
    overflow: auto;
    box-shadow: 0px 0px 5px 5px rgba(71, 71, 71, 0.185);
  }
}